<!--
    @require header.js
    @require "header.lcss"
-->
<di id="header">
	<div class="header-center">
		<div class="logo">
			<a href="/index.html"><img src="./logo.jpg" alt="奇酷"></a>
		</div>
		<ul class="nav">
			<li><a href="//www.qiku.com/index.html">首页</a></li>
			<li><a href="//www.qiku.com/zt/note3/index.html">大神Note3</a><i class="icons icons_new"></i></li>
			<li><a href="javascript:;" class="show_tree">大神手机</a>
					<ul>
						<li><a href="//item.qiku.com/item/selectPhone.html?Typeid=1013"></a>大神X7</li>
						<li><a href="//item.qiku.com/item/selectPhone.html?Typeid=868"></a>大神F2</li>
						<li><a href="//item.qiku.com/item/selectPhone.html?Typeid=623"></a>大神F1</li>
					</ul>
			</li>
			<li><a href="//www.qiku.com/zt/qiku/index.html">奇酷手机</a></li>
			<li><a href="//www.qiku.com/goodsSortList-423-1-0-0-1-1.html">配件</a></li>
			<li><a target="_blank" href="//bbs.qiku.com">社区</a></li>
			<li><a href="//www.qiku.com/help-4.html">服务</a></li>
		</ul>
	</div>
</di>