<!-- 
	@require nav.less;
-->
<div class="home_quick_nav">
    <ul class="nav">
        <li>
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fioa.qiku.com%2Fworkflow%2FpendingRequest.html">
            	<i class="icon_nav1"></i>
                <p>代办事项</p>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fgod.qiku.com%2Fshenma.html">
            	<i class="icon_nav2"></i>
                <p>神码领取</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fhr.qiku.com%2Fatt%2Foutwork%2FoutWork%2Fadd.html">
                <i class="icon_nav3"></i>
                <p>外出办事</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fioa.qiku.com%2Fdtd%2Fmeeting%2FmeetingSearchV%2Flist.html">
                <i class="icon_nav4"></i>
                <p>会议查询</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fioa.qiku.com%2Fdtd%2Fmeeting%2FmeetingNoticeSend%2Fadd.html%3FtaskInstanceId%3D-1%26processName%3DIOA_MEET_NOTICE_SEND">
                <i class="icon_nav5"></i>
                <p>会议通知</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fitsm.qiku.com%2Fitsm%2Feventmanager%2Fitevent%2FitEventForm%2Fadd.html%3FtaskInstanceId%3D-1%26processName%3DITSM_EVENTMANAGER">
                <i class="icon_nav6"></i>
                <p>IT反馈</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fefs.qiku.com%2Fdailybiz%2Floan%2FloanEvection%2Fadd.html%3FtaskInstanceId%3D-1%26processName%3DloanEvection">
                <i class="icon_nav7"></i>
                <p>出差借款</p>
            </a>
        </li>
        <li >
            <a target="_blank" href="https://cas.qiku.com/cas/login?service=http%3A%2F%2Fmsi.qiku.com%2Fpresent%2Fpresent%2FpresentForm%2Fform1.html">
                <i class="icon_nav8"></i>
                <p>样机体验</p>
            </a>
        </li>
    </ul>
</div>
